server {
  listen 80;
  resolver 127.0.0.11 valid=30s ipv6=off;

  set $admin_api_upstream http://matrix-admin-api:9000;

  location / {
    root /usr/share/nginx/html;
    try_files $uri /index.html;
  }

  location /api/ {
    proxy_pass $admin_api_upstream$request_uri;
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-Proto https;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
  }
}
