{
  "default_server_config": {
    "m.homeserver": {
      "base_url": "$PUBLIC_BASEURL",
      "server_name": "$MATRIX_SERVER_NAME"
    }
  },
  "disable_guests": true,
  "brand": "Private Matrix",
  "show_labs_settings": false,
  "default_theme": "dark",
  "element_call": {
    "url": "$ELEMENT_CALL_URL",
    "brand": "Element Call",
    "use_exclusively": true
  }
}
