{
  "default_server_config": {
    "m.homeserver": {
      "base_url": "$PUBLIC_BASEURL",
      "server_name": "$MATRIX_SERVER_NAME"
    }
  },
  "features": {
    "feature_group_calls": true
  },
  "livekit": {
    "url": "http://matrix-livekit:7880",
    "jwt": {
      "api_key": "$LIVEKIT_API_KEY",
      "api_secret": "$LIVEKIT_API_SECRET"
    }
  }
}
