{
  "default_server_config": {
    "m.homeserver": {
      "base_url": "$PUBLIC_BASEURL",
      "server_name": "$MATRIX_SERVER_NAME"
    },
    "org.matrix.msc4143.rtc_foci": [
      {
        "type": "livekit",
        "livekit_service_url": "$MATRIX_RTC_LIVEKIT_SERVICE_URL"
      }
    ]
  },
  "features": {
    "feature_group_calls": true
  }
}
