port: 7880
rtc:
  tcp_port: 7881
  port_range_start: 50000
  port_range_end: 50100
  use_external_ip: false
  node_ip: "$LIVEKIT_NODE_IP"
redis:
  address: matrix-redis:6379
keys:
  $LIVEKIT_API_KEY: $LIVEKIT_API_SECRET
